/* Write your CSS here */
.transaction-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 28px;
}

.card-container{
  display: flex;
  flex-direction: row;
}

.image {
  background-size: cover;
  height: 45px;
  width: 48px;
}
